@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&family=Noto+Sans+JP:wght@300&family=Oswald:wght@600&family=Press+Start+2P&family=Roboto:wght@300&display=swap');

body{

    background-image: url(./Pages/assets/bg.png);
    background-repeat: no-repeat;
    background-size:100%;


}

.container{
    width: 100%;
    /* height: 100%; */
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bird{
    
    height: 50px; 
    position: fixed; 
    top: 39vh; 
    left: 46vw; 
    z-index: 100; 
    
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
  
}

h2{
    font-weight: 900;
    font-size: 35px;
    font-family: 'Press Start 2P';
    color: white;
    -webkit-text-stroke:2px;
    -webkit-text-stroke-color: black;

}

h2:hover{
    cursor: pointer;
}


@media only screen and (max-width:600px){
    body{
        background-size: cover;
        /* background-repeat: repeat; */
        height: 100vh; 
        width: 100vw; 
    }
    h2{
        font-size: 30px;
   
    font-family: 'Press Start 2P';
    color: white;
    
    -webkit-text-stroke-color:none;
    }

   .bird{
    width: 80%;
    position: fixed;
    left: 40px;
   }
   #bird{
    left: 37vw;
    top: 37vh;
   }
}